# Racine
.env

# Laravel
skillhub-backend/.env
skillhub-backend/vendor/
skillhub-backend/storage/logs/
skillhub-backend/node_modules/

# React
skillhub-frontend/node_modules/
skillhub-frontend/.env
skillhub-frontend/build/
skillhub-frontend/dist/

# IDE
.vscode/
.idea/
*.DS_Store